Repository pixelcollective/dreamdefenders.org, changes with the labels that .github/labeler.yml gives for each.
All labels: project, git, bedrock, testing, theme, plugin, dependency, documentation, php, css, js, webpack, config

.github/labeler.yml:

project:
  - ./*

git:
  - .github/*
  - .github/**/*
  - .git/*
  - .git/**/*

bedrock:
  - ./config/**/*
  - ./config/*

testing:
  - ./tests/*
  - ./tests/**/*

theme:
  - ./**/themes/*
  - ./**/themes/**/*

plugin:
  - ./**/plugins/*
  - ./**/plugins/**/*
  - ./**/mu-plugins/**/*
  - ./**/mu-plugins/**/*

dependency:
  - composer.json
  - package.json
  - ./**/package.json
  - ./**/yarn.lock

documentation:
  - ./*.md
  - ./**/*.md
  - ./**/LICENSE
  - ./**/README

php:
  - ./**/*.php

css:
  - ./**/*.scss
  - ./**/*.css

js:
  - ./**/*.js
  - ./**/*.jsx

webpack:
  - ./**/*webpack*
  - ./**/webpack*
  - ./**/webpack/*
  - ./**/webpack/**/*

config:
  - ./**/config/*
  - ./**/config/**/*
  - ./**/*.json

fix cache busting
  build/mix/mix.js
Labels: js

fix cache busting
  build/mix/application-paths.js
  build/mix/mix.js
Labels: js

add manifest.json
  web/app/manifest.json
  web/app/mix-manifest.json
  web/app/themes/sage/resources/views/partials/head.blade.php
Labels: theme, php, config

merge gutenberg build styles
  build/mix/application-paths.js
  build/mix/mix.js
  build/mix/whitelist.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/wordpress/_animations.scss
  web/app/themes/sage/resources/assets/styles/wordpress/_breakpoints.scss
  web/app/themes/sage/resources/assets/styles/wordpress/_colors.scss
  web/app/themes/sage/resources/assets/styles/wordpress/_mixins.scss
  web/app/themes/sage/resources/assets/styles/wordpress/_variables.scss
  web/app/themes/sage/resources/assets/styles/wordpress/_z-index.scss
  web/app/themes/sage/resources/views/partials/head.blade.php
  yarn.lock
Labels: project, theme, dependency, php, css, js, config

fix build
  build/mix/mix.js
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/src/Container.php
  web/app/plugins/blocks/src/FreedomPaper.php
  web/app/plugins/blocks/src/HorizontalCard.php
  web/app/plugins/blocks/src/PostContainer.php
  web/app/plugins/blocks/src/ProjectContainer.php
  web/app/plugins/blocks/src/Squadd.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/themes/sage/resources/assets/styles/app.scss
Labels: theme, plugin, php, css, js

done.
  build/mix/mix.js
  web/app/themes/sage/app/setup.php
Labels: theme, php, js

chop off another 10kb css why not
  web/app/themes/sage/resources/assets/styles/app.scss
Labels: theme, css

freedom-papers linked files attr
  build/mix/application-paths.js
  build/mix/mix.js
  build/mix/whitelist.js
  build/tailwind/tailwind.js
  package.json
  web/app/plugins/blocks/package.json
  web/app/plugins/blocks/resources/assets/scripts/blocks/FreedomPaper/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/FreedomPaper/components/download-this-volume.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/FreedomPaper/components/edit.js
  web/app/plugins/blocks/resources/views/freedom-paper/block.blade.php
  web/app/themes/sage/resources/views/partials/head.blade.php
  yarn.lock
Labels: project, theme, plugin, dependency, php, js, config

ultimate build
  build/mix/application-paths.js
  build/mix/mix.js
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/extensions/hide-title-block.js
  web/app/plugins/blocks/resources/assets/scripts/index.js
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/src/Container.php
  web/app/plugins/blocks/src/FreedomPaper.php
  web/app/plugins/blocks/src/HorizontalCard.php
  web/app/plugins/blocks/src/PostContainer.php
  web/app/plugins/blocks/src/ProjectContainer.php
  web/app/plugins/blocks/src/Squadd.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/app/fonts.scss
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/views/partials/head.blade.php
Labels: theme, plugin, php, css, js

cleanup
  build/mix/mix.js
  web/app/themes/sage/app/setup.php
Labels: theme, php, js

combinatorials
  build/mix/config.js
  build/mix/mix.js
  build/mix/package.json
  web/app/themes/sage/package.json
  yarn.lock
Labels: project, theme, dependency, js, config

freedom-papers linked files attr
  build/mix/mix.js
  web/app/themes/sage/app/setup.php
Labels: theme, php, js

vendored
  build/mix/mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/package.json
  yarn.lock
Labels: project, theme, dependency, php, js, config

cleanup
  build/mix/mix.js
  build/mix/wp-pkg-index.js
Labels: js

cleanup
  build/mix/mix.js
Labels: js

vendored
  build/mix/config.js
  build/mix/mix.js
Labels: js

update
  build/mix/mix.js
Labels: js

pathing
  build/mix/config.js
  build/mix/mix.js
Labels: js

build scripts
  build/mix/mix.js
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/performantMedia.js
  web/app/themes/sage/resources/assets/styles/app/performant-media.scss
Labels: theme, css, js

update app manifest
  build/mix/mix.js
  web/app/themes/sage/app-manifest.json
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/resources/views/partials/head.blade.php
Labels: theme, php, js, config

a11y
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

whoops! fix menu
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

adjust lazyload options
  build/mix/whitelist.js
  composer.json
  composer.lock
  config/application.php
  web/app/advanced-cache.php
  web/app/cache/wp-rocket/dreamdefenders.vagrant/by-kelly-mears-grade-8/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/by-kelly-mears-grade-8/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/hello-world/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/hello-world/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/squadds/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/squadds/index.html_gzip
  web/app/cache/wp-rocket/index.html
  web/app/mu-plugins/plugin-manifest/manifest.yml
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/load.js
  web/app/themes/sage/resources/assets/scripts/components/performantMedia.js
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/app/performant-media.scss
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
  webpack.mix.js
Labels: project, bedrock, theme, plugin, dependency, php, css, js, webpack, config

fix align
  web/app/themes/sage/resources/assets/styles/app/align.scss
Labels: theme, css

remove builddump
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-2/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-2/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-test/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-test/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/index.html_gzip
  webpack.mix.js
Labels: project, js, webpack

mod gitignore
  .gitignore
  web/app/cache/wp-rocket/dreamdefenders.vagrant/by-kelly-mears-grade-8/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/by-kelly-mears-grade-8/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-2/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-2/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-test/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/freedom-paper-test/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/freedom-papers/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/hello-world/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/hello-world/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/index.html_gzip
  web/app/cache/wp-rocket/dreamdefenders.vagrant/squadds/index.html
  web/app/cache/wp-rocket/dreamdefenders.vagrant/squadds/index.html_gzip
  web/app/cache/wp-rocket/index.html
Labels: project

small adjustments to build and formatting
  build/mix/config.js
  build/mix/mix.js
  build/mix/package.json
  build/mix/whitelist.js
  build/mix/wordpress-utils.js
  build/mix/wp-pkg-index.js
  config/application.php
  web/app/plugins/blocks/composer.json
  web/app/plugins/blocks/composer.lock
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/composer.json
  web/app/themes/sage/composer.lock
  web/app/themes/sage/config/ssr.php
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/single.blade.php
  web/app/themes/sage/studio.json
  web/app/themes/sage/webpack.mix.js
  web/app/themes/sage/yarn.lock
  web/wp-config.php
  yarn.lock
Labels: project, bedrock, theme, plugin, dependency, php, js, webpack, config

reconfigure application
  .tinkerwell/BedrockTinkerwellDriver.php
  composer.json
  composer.lock
  config/Config.php
  config/application.php
  config/package.json
  web/app/manifest.json
  web/app/object-cache.php
Labels: project, bedrock, dependency, php, config

update conf
  config/application.php
Labels: bedrock, php, config

update conf
  config/application.php
Labels: bedrock, php, config

conf
  config/application.php
Labels: bedrock, php, config

fix for url issue
  config/application.php
Labels: bedrock, php, config

update stylings
  build/mix/config.js
  build/mix/mix.js
  config/application.php
  config/package.json
  config/tailwind.js
  mix.dump.js
  package.json
  web/app/object-cache.php
  web/app/plugins/blocks/resources/views/banner/block.blade.php
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-heading.scss
  web/app/themes/sage/resources/assets/svg/logo.svg
  web/app/themes/sage/resources/views/forms/dream-together.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  webpack.mix.js
  wp-cli.yml
Labels: project, bedrock, theme, plugin, dependency, php, css, js, webpack, config

update build
  package.json
  web/app/plugins/blocks/resources/views/banner/block.blade.php
Labels: project, plugin, dependency, php, config

update build
  web/app/plugins/blocks/resources/views/banner/block.blade.php
Labels: plugin, php

template adjustments
  build/mix/mix.js
  composer.json
  composer.lock
  package.json
  web/app/plugins/blocks/resources/views/project-container/block.blade.php
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/src/Container.php
  web/app/plugins/blocks/src/FreedomPaper.php
  web/app/plugins/blocks/src/HorizontalCard.php
  web/app/plugins/blocks/src/PostContainer.php
  web/app/plugins/blocks/src/ProjectContainer.php
  web/app/plugins/blocks/src/Squadd.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/styles/blocks/core-heading.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-pullquote.scss
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/partials/head.blade.php
Labels: project, theme, plugin, dependency, php, css, js, config

spacing adjustment
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
Labels: theme, php

mv redis
  config/application.php
  web/app/object-cache.php
Labels: bedrock, php, config

update abspath
  .tinkerwell/BedrockTinkerwellDriver.php
  config/application.php
Labels: bedrock, php, config

update object cache
  config/application.php
  web/app/object-cache.php
Labels: bedrock, php, config
