Repository pixelcollective/dreamdefenders.org, changes with the labels that .github/labeler.yml gives for each.
All labels: project, git, bedrock, testing, theme, plugin, dependency, documentation, php, css, js, webpack, config

predis
  config/application.php
Labels: bedrock, php, config

formatting
  config/application.php
Labels: bedrock, php, config

update
  config/application.php
  web/app/themes/sage/resources/assets/styles/blocks/core-pullquote.scss
Labels: bedrock, theme, php, css, config

installable PWA
  .gitignore
  .tinkerwell/BedrockTinkerwellDriver.php
  config/application.php
  web/app/advanced-cache.php
  web/app/manifest.json
  web/app/themes/sage/app-manifest.json
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/config/assets.php
  web/app/themes/sage/resources/assets/images/icons-192.png
  web/app/themes/sage/resources/assets/images/icons-512.png
  web/app/themes/sage/resources/views/partials/head.blade.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
Labels: project, bedrock, theme, php, config

mergefix
  composer.lock
Labels: project

correct dist uri
  web/app/themes/sage/config/assets.php
Labels: theme, php, config

adds PWA service worker
  build/mix/mix.js
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/caches.js
  web/app/themes/sage/resources/assets/scripts/sw.js
Labels: theme, js

move sw.js to footer.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/views/partials/footer.blade.php
Labels: theme, php, js

update sw polyfill import
  web/app/themes/sage/resources/assets/scripts/sw.js
Labels: theme, js

use workbox to generate sw
  build/mix/mix.js
  build/mix/package.json
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/components/caches.js
  web/app/themes/sage/resources/assets/scripts/sw.js
  web/app/themes/sage/resources/views/partials/footer.blade.php
  yarn.lock
Labels: project, theme, dependency, php, js, config

modify workbox includes
  build/mix/mix.js
Labels: js

modify workbox includes
  build/mix/mix.js
Labels: js

modify app manifest
  build/mix/mix.js
  web/app/themes/sage/app-manifest.json
Labels: theme, js, config

500 response
  build/mix/mix.js
  web/app/themes/sage/app-manifest.json
  web/offline.html
Labels: theme, js, config

register sw
  build/mix/mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/offline.html
Labels: theme, php, js

🤞
  build/mix/mix.js
Labels: js

🤞
  web/app/themes/sage/app-manifest.json
Labels: theme, config

updates
  build/mix/mix.config.js
  composer.lock
  package.json
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Banner/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Container/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/FreedomPaper/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/GalleryCTA/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/HorizontalCard/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/PostContainer/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/PostContainer/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Squadd/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/TwoColumn/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/global-styles.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/icon.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/inserter-categories.js
  web/app/plugins/dream-defenders-blocks/resources/assets/svg/logo.svg
  web/app/plugins/dream-defenders-blocks/resources/views/post-container/block.blade.php
  web/app/plugins/dream-defenders-blocks/src/Form.php
  web/app/plugins/dream-defenders-blocks/webpack.mix.js
  web/app/themes/sage/app/Composers/Archive.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/views/partials/archive.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/partials/content.blade.php
  webpack.mix.js
Labels: project, theme, plugin, dependency, php, js, webpack, config

add form block
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/global-styles.js
  web/app/plugins/dream-defenders-blocks/resources/views/form/block.blade.php
  web/app/themes/sage/app/Composers/Archive.php
  web/app/themes/sage/resources/assets/styles/editor.scss
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/single.blade.php
Labels: theme, plugin, php, css, js

form block updates
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/components/panels/text-columns.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/global-styles.js
  web/app/plugins/dream-defenders-blocks/resources/views/form/block.blade.php
Labels: plugin, php, js

update projects and 404 templates
  web/app/themes/sage/resources/views/page.blade.php
  web/app/themes/sage/resources/views/partials/content-search.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/header-search.blade.php
  web/app/themes/sage/resources/views/search.blade.php
Labels: theme, php

add organize block
  build/mix/webpack.mix.js
  build/tailwind/tailwind.js
  composer.json
  composer.lock
  config/application.php
  migrations.config.js
  web/app/advanced-cache.php
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/OrganizeCTA/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/OrganizeCTA/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  web/app/plugins/dream-defenders-blocks/resources/views/organize-cta/block.blade.php
  web/app/plugins/dream-defenders-blocks/src/OrganizeCTA.php
  web/app/plugins/dream-defenders-blocks/webpack.mix.js
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/partials/header.blade.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
Labels: project, bedrock, theme, plugin, dependency, php, js, webpack, config

updates
  build/mix/mix.config.js
  build/tailwind/package.json
  build/tailwind/tailwind.js
  composer.lock
  migrations.config.js
  web/app/advanced-cache.php
  web/app/plugins/dream-defenders-blocks/resources/views/post-container/block.blade.php
  web/app/plugins/dream-defenders-blocks/resources/views/project-container/block.blade.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/components/twoPathsObserver.js
  web/app/themes/sage/resources/assets/styles/app/fonts.scss
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-heading.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-pullquote.scss
  web/app/themes/sage/resources/views/front-page.blade.php
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/page-squadds.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/freedom-papers-teaser.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
  web/app/themes/sage/resources/views/partials/header.blade.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
  webpack.mix.js
  yarn.lock
Labels: project, theme, plugin, dependency, php, css, js, webpack, config

wrap
  web/app/plugins/dream-defenders-blocks/resources/views/post-container/block.blade.php
  web/app/plugins/dream-defenders-blocks/src/PostContainer.php
  web/app/themes/sage/app/Composers/BaseComposer.php
  web/app/themes/sage/app/Composers/Post.php
  web/app/themes/sage/resources/assets/images/waves-left.png
  web/app/themes/sage/resources/assets/images/waves-right.png
  web/app/themes/sage/resources/views/archive.blade.php
  web/app/themes/sage/resources/views/index.blade.php
  web/app/themes/sage/resources/views/page-squadds.blade.php
  web/app/themes/sage/resources/views/page.blade.php
  web/app/themes/sage/resources/views/partials/archive.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
Labels: theme, plugin, php

fix slashthrough anime
  build/tailwind/tailwind.js
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
Labels: theme, php, js

yooooo
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/views/banner/block.blade.php
  web/app/plugins/dream-defenders-blocks/src/Banner.php
  web/app/plugins/dream-defenders-blocks/src/Container.php
  web/app/plugins/dream-defenders-blocks/src/Form.php
  web/app/plugins/dream-defenders-blocks/src/FreedomPaper.php
  web/app/plugins/dream-defenders-blocks/src/GalleryCTA.php
  web/app/themes/sage/app/Composers/Archive.php
  web/app/themes/sage/app/Composers/FreedomPapers.php
  web/app/themes/sage/app/Composers/Projects.php
  web/app/themes/sage/app/Providers/ThemeServiceProvider.php
  web/app/themes/sage/app/filters.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/composer.json
  web/app/themes/sage/composer.lock
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/views/archive.blade.php
  web/app/themes/sage/resources/views/components/pagination.blade.php
  web/app/themes/sage/resources/views/index.blade.php
  web/app/themes/sage/resources/views/page-freedom-papers.blade.php
  web/app/themes/sage/resources/views/page-projects.blade.php
  web/app/themes/sage/resources/views/page-squadds.blade.php
  web/app/themes/sage/resources/views/partials/archive-page.blade.php
  web/app/themes/sage/resources/views/partials/archive-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/header-archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/header-archive-page.blade.php
  web/app/themes/sage/resources/views/partials/header.blade.php
Labels: theme, plugin, php, js, config

🤔
  build/mix/purge.config.js
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-heading.scss
Labels: theme, css, js

🤔
  web/app/themes/sage/resources/assets/images/squadd-1.png
  web/app/themes/sage/resources/assets/images/squadd-2.png
  web/app/themes/sage/resources/assets/images/squadd-3.png
  web/app/themes/sage/resources/assets/images/squadd-4.png
  web/app/themes/sage/resources/assets/images/squadd-5.png
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
Labels: theme, php

anchor styles
  composer.lock
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/package.json
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/PostContainer/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/global-styles.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/icon.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/inserter-categories.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/whitelist.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/index.js
  web/app/plugins/dream-defenders-blocks/resources/assets/styles/block-styles/banner.scss
  web/app/plugins/dream-defenders-blocks/resources/assets/styles/blocks/post-container.scss
  web/app/plugins/dream-defenders-blocks/resources/assets/styles/common.scss
  web/app/plugins/dream-defenders-blocks/resources/assets/styles/editor.scss
  web/app/plugins/dream-defenders-blocks/resources/assets/styles/public.scss
  web/app/plugins/dream-defenders-blocks/resources/views/post-container/block.blade.php
  web/app/plugins/dream-defenders-blocks/webpack.mix.js
  web/app/themes/sage/config/assets.php
  web/app/themes/sage/resources/assets/images/ndn-logo-full-color.svg
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-pullquote.scss
Labels: project, theme, plugin, dependency, php, css, js, webpack, config

config circleci
  .circleci/config.yml
  config/Config.php
Labels: bedrock, php, config

spacing, banner imagery, typography
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/PostContainer/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/views/banner/block.blade.php
  web/app/plugins/dream-defenders-blocks/resources/views/post-container/block.blade.php
Labels: plugin, php, js

Update composer deps
  composer.lock
Labels: project

Update composer deps (#101)
  composer.lock
Labels: project

commit cdn replacement script
  web/app/mu-plugins/cdn/CDN.php
  web/app/mu-plugins/cdn/UrlRewriter.php
Labels: plugin, php

update .gitignore
  .gitignore
Labels: project

Include CDN rewrite utility (#102)
  .gitignore
  web/app/mu-plugins/cdn/CDN.php
  web/app/mu-plugins/cdn/UrlRewriter.php
Labels: project, plugin, php

fix cdn url
  web/app/mu-plugins/cdn/UrlRewriter.php
Labels: plugin, php

Fix CDN url (#103)
  web/app/mu-plugins/cdn/UrlRewriter.php
Labels: plugin, php

enqueue block styles
  composer.json
  composer.lock
  migrations.config.js
  web/app/mu-plugins/cdn/CDN.php
  web/app/mu-plugins/cdn/UrlRewriter.php
  web/app/plugins/dream-defenders-blocks/webpack.mix.js
  web/app/themes/sage/resources/views/partials/header-archive-projects.blade.php
  web/app/themes/sage/webpack.mix.js
Labels: project, theme, plugin, dependency, php, js, webpack, config

just so much fuckin styling
  build/mix/mix.config.js
  build/mix/package.json
  build/tailwind/tailwind.js
  composer.lock
  cypress/config/Config.php
  cypress/config/application.php
  web/app/mu-plugins/tiny-blocks/composer.lock
  web/app/plugins/dream-defenders-blocks/composer.lock
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  web/app/plugins/dream-defenders-blocks/resources/assets/styles/editor.scss
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-button.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-navigation.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-pullquote.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-search.scss
  web/app/themes/sage/resources/assets/styles/editor.scss
  web/app/themes/sage/resources/views/search.blade.php
  yarn.lock
Labels: project, theme, plugin, dependency, php, css, js, config

.github/labeler.yml:

project:
  - ./*

git:
  - .github/*
  - .github/**/*
  - .git/*
  - .git/**/*

bedrock:
  - ./config/**/*
  - ./config/*

testing:
  - ./tests/*
  - ./tests/**/*

theme:
  - ./**/themes/*
  - ./**/themes/**/*

plugin:
  - ./**/plugins/*
  - ./**/plugins/**/*
  - ./**/mu-plugins/**/*
  - ./**/mu-plugins/**/*

dependency:
  - composer.json
  - package.json
  - ./**/package.json
  - ./**/yarn.lock

documentation:
  - ./*.md
  - ./**/*.md
  - ./**/LICENSE
  - ./**/README

php:
  - ./**/*.php

css:
  - ./**/*.scss
  - ./**/*.css

js:
  - ./**/*.js
  - ./**/*.jsx

webpack:
  - ./**/*webpack*
  - ./**/webpack*
  - ./**/webpack/*
  - ./**/webpack/**/*

config:
  - ./**/config/*
  - ./**/config/**/*
  - ./**/*.json
