Repository pixelcollective/dreamdefenders.org, changes with the labels that .github/labeler.yml gives for each.
All labels: project, git, bedrock, testing, theme, plugin, dependency, documentation, php, css, js, webpack, config

.github/labeler.yml:

project:
  - ./*

git:
  - .github/*
  - .github/**/*
  - .git/*
  - .git/**/*

bedrock:
  - ./config/**/*
  - ./config/*

testing:
  - ./tests/*
  - ./tests/**/*

theme:
  - ./**/themes/*
  - ./**/themes/**/*

plugin:
  - ./**/plugins/*
  - ./**/plugins/**/*
  - ./**/mu-plugins/**/*
  - ./**/mu-plugins/**/*

dependency:
  - composer.json
  - package.json
  - ./**/package.json
  - ./**/yarn.lock

documentation:
  - ./*.md
  - ./**/*.md
  - ./**/LICENSE
  - ./**/README

php:
  - ./**/*.php

css:
  - ./**/*.scss
  - ./**/*.css

js:
  - ./**/*.js
  - ./**/*.jsx

webpack:
  - ./**/*webpack*
  - ./**/webpack*
  - ./**/webpack/*
  - ./**/webpack/**/*

config:
  - ./**/config/*
  - ./**/config/**/*
  - ./**/*.json

remove cdn
  web/app/mu-plugins/cdn/CDN.php
  web/app/mu-plugins/cdn/UrlRewriter.php
Labels: plugin, php

try moving to admin_init
  web/app/plugins/dream-defenders-blocks/index.php
Labels: plugin, php

everyaction
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/EveryAction/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/EveryAction/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/EveryAction/components/save.js
  web/app/plugins/dream-defenders-blocks/resources/views/every-action/block.blade.php
  web/app/plugins/dream-defenders-blocks/src/EveryAction.php
  web/app/plugins/dream-defenders-blocks/webpack.mix.js
Labels: plugin, php, js, webpack

fix banner
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Banner/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Banner/components/panels/BackgroundPanel.js
  web/app/themes/sage/resources/assets/scripts/app.js
Labels: theme, plugin, js

remove modal. fix cover
  composer.lock
  web/app/advanced-cache.php
  web/app/plugins/dream-defenders-blocks/resources/views/banner/block.blade.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/index.js
  web/app/themes/sage/resources/assets/scripts/components/modal.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-cover.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-navigation.scss
  web/app/themes/sage/resources/views/components/alert.blade.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
Labels: project, theme, plugin, php, css, js

resolve merge conflict
  composer.lock
Labels: project

update circleci build
  .circleci/config.yml
  web/app/themes/sage/resources/assets/scripts/app.js
Labels: theme, js

update deps
  composer.json
  composer.lock
  migrations.config.js
  wp-cli.yml
  yarn.lock
Labels: project, dependency, js, config

gutenberg fix: undefined postcss vars
  package.json
  web/app/themes/sage/resources/assets/styles/wordpress/_variables.scss
  web/app/themes/sage/resources/assets/styles/wordpress/variables.scss
  yarn.lock
Labels: project, theme, dependency, css, config

crunch't
  .gitignore
  media-process.js
  package.json
  web/app/advanced-cache.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
  yarn.lock
Labels: project, dependency, php, js, config

mergefix
  composer.lock
Labels: project

[fix] editor implosion
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/disable-nux-tour.js
Labels: plugin, js

update plugin blocks to use @tinypixelco/disable-welcome-modal pkg
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  yarn.lock
Labels: project, plugin, dependency, js

update plugin blocks to use @tinypixelco/disable-welcome-modal pkg
  web/app/plugins/dream-defenders-blocks/package.json
  yarn.lock
Labels: project, plugin, dependency, config

[fix]
  migrations.config.js
  web/app/advanced-cache.php
  web/app/themes/sage/resources/views/front-page.blade.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
Labels: project, theme, php, js

[fix]
  composer.lock
  web/app/themes/sage/resources/views/page-squadds.blade.php
Labels: project, theme, php

update dev env
  .gitginre
  .gitignore
  .lando.yml
  cypress.json
  cypress/config/Config.php
  cypress/config/application.php
  cypress/cypress.json
  cypress/fixtures/example.json
  cypress/integration/development.spec.js
  cypress/integration/production.spec.js
  cypress/integration/staging.spec.js
  cypress/plugins/index.js
  cypress/screenshots/.gitkeep
  cypress/support/commands.js
  cypress/support/index.js
  cypress/videos/.gitkeep
  package.json
  web/app/mu-plugins/plugin-manifest/manifest.yml
Labels: project, plugin, dependency, php, js, config

[fix] require illuminate/pagination
  web/app/themes/sage/composer.json
  web/app/themes/sage/composer.lock
Labels: theme, config

remove xml
  .gitignore
  import__freedompapers.xml
  import__page.xml
  import__posts.xml
  import__projects.xml
Labels: project

ACAB
  medialib.xml
  web/app/advanced-cache.php
  web/app/wp-rocket-config/dreamdefenders.lndo.site.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
Labels: project, php

lockdown
  config/application.php
  web/app/themes/sage/config/app.php
Labels: bedrock, theme, php, config

stray xml
  posts.xml
Labels: project

final fixes for the early morning sesh
  build/mix/webpack.mix.js
  web/app/themes/sage/app/View/Composers/Post.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, js, webpack

x_x
  .gitignore
  web/app/themes/sage/resources/views/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/page-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
Labels: project, theme, php

programming.
  build/mix/purge.config.js
  build/mix/webpack.mix.js
  mediapro/logger.js
  mediapro/media-process.js
  package.json
  web/app/plugins/dream-defenders-blocks/package.json
  web/app/plugins/dream-defenders-blocks/src/HorizontalCard.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/load.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  web/app/themes/sage/webpack.mix.js
Labels: project, theme, plugin, dependency, php, js, webpack, config

repo update
  .gitignore
  composer.json
  composer.lock
  mediapro/logger.js
  mediapro/media-process.js
  mediapro/package.json
  web/app/plugins/dream-defenders-blocks/index.php
Labels: project, plugin, dependency, php, js, config

update images
  web/app/themes/sage/resources/views/components/image.blade.php
  web/app/themes/sage/resources/views/partials/front/freedom-papers-teaser.blade.php
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
  web/app/themes/sage/resources/views/partials/header.blade.php
Labels: theme, php

update
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  web/app/themes/sage/webpack.mix.js
Labels: theme, php, js, webpack

fix nav
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

typography
  build/mix/package.json
  build/mix/webpack.mix.js
  build/tailwind/package.json
  build/tailwind/tailwind.js
  composer.json
  composer.lock
  web/app/plugins/dream-defenders-blocks/package.json
  web/app/plugins/dream-defenders-blocks/resources/views/post-container/block.blade.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/styles/app/fonts.scss
  web/app/themes/sage/resources/assets/styles/app/keyframes.scss
  web/app/themes/sage/resources/assets/styles/app/performant-media.scss
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/views/components/simple-card.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  yarn.lock
Labels: project, theme, plugin, dependency, php, css, js, webpack, config

postflight looks good
  build/tailwind/tailwind.js
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/app/postflight.scss
Labels: theme, css, js

view componentry
  web/app/themes/sage/app/View/Components/ViewMore.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/views/components/view-more.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  yarn.lock
Labels: project, theme, dependency, php, css, config

view link fix
  web/app/themes/sage/app/View/Components/ViewMore.php
Labels: theme, php

fix
  web/app/themes/sage/app/View/Components/ViewMore.php
  web/app/themes/sage/resources/views/components/view-more.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
Labels: theme, php

image --> img
  web/app/themes/sage/resources/views/components/view-more.blade.php
Labels: theme, php

responsive fixes
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, css

fix nav CTA
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

bumpies
  yarn.lock
Labels: project, dependency

add nvmrc
  .nvmrc
Labels: project

try itineris @0.8
  .circleci/config.yml
Labels: none
