Repository pixelcollective/dreamdefenders.org, changes with the labels that .github/labeler.yml gives for each.
All labels: project, git, bedrock, testing, theme, plugin, dependency, documentation, php, css, js, webpack, config

overlay
  web/app/themes/sage/resources/views/components/overlay.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

change squadd field order
  .vscode/launch.json
  web/app/plugins/blocks/resources/assets/scripts/blocks/Squadd/components/edit.js
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/composer.json
  web/app/themes/sage/composer.lock
  web/app/themes/sage/config/app.php
  web/app/themes/sage/config/ssr.php
  web/app/themes/sage/studio.json
Labels: theme, plugin, php, js, webpack, config

BUILD FIX
  config/tailwind.js
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/package.json
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/components/modal.js
  web/app/themes/sage/webpack.mix.js
Labels: bedrock, theme, plugin, dependency, php, js, webpack, config

add image sizes
  web/app/themes/sage/app/filters.php
Labels: theme, php

add image srcset to squadd block
  web/app/plugins/blocks/resources/assets/scripts/blocks/Squadd/components/edit.js
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
  web/app/themes/sage/app/filters.php
Labels: theme, plugin, php, js

add image srcset to squadd blocks
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

FIX: "our work" overlay navigation
  web/app/themes/sage/app/Composers/App.php
Labels: theme, php

upgrades for freedom papers block
  web/app/themes/sage/resources/assets/images/world-we-are-fighting-for.png
  web/app/themes/sage/resources/assets/images/world-we-are-fighting-for@2x.png
  web/app/themes/sage/resources/views/partials/front/freedom-papers-teaser.blade.php
Labels: theme, php

FIX: embed block width
  web/app/themes/sage/resources/assets/styles/blocks/core-embed.scss
Labels: theme, css

FIX: media & text block
  web/app/themes/sage/resources/assets/scripts/editor.js
Labels: theme, js

FIX: various templating problems
  web/app/themes/sage/resources/views/front-page.blade.php
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/archive-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/single.blade.php
Labels: theme, php

adjustment to base app config
  config/application.php
  web/app/themes/sage/app/Composers/BaseComposer.php
  web/app/themes/sage/app/filters.php
  web/app/themes/sage/app/setup.php
Labels: bedrock, theme, php, config

gitignore
  web/app/themes/sage/.gitignore
Labels: theme

countables
  web/app/themes/sage/app/Composers/Post.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
Labels: theme, php

header fix stemming from countable fix
  web/app/themes/sage/resources/views/partials/header-archive.blade.php
  web/app/themes/sage/resources/views/partials/header-page.blade.php
Labels: theme, php

templating
  web/app/themes/sage/resources/views/forms/dream-together.blade.php
  web/app/themes/sage/resources/views/partials/content-page.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
Labels: theme, php

PHP error fixes
  web/app/plugins/blocks/resources/views/banner/block.blade.php
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
  web/app/themes/sage/app/filters.php
  web/app/themes/sage/resources/views/partials/archive-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-page.blade.php
  web/app/themes/sage/resources/views/partials/header-archive.blade.php
Labels: theme, plugin, php

fix block image display components
  web/app/plugins/blocks/resources/views/components/image.blade.php
  web/app/plugins/blocks/resources/views/freedom-paper/block.blade.php
  web/app/plugins/blocks/resources/views/horizontal-card/block.blade.php
  web/app/plugins/blocks/resources/views/post-container/block.blade.php
  web/app/plugins/blocks/resources/views/project-container/block.blade.php
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

conservative image
  web/app/plugins/blocks/resources/views/components/image.blade.php
Labels: plugin, php

update image sizes
  web/app/plugins/blocks/resources/views/components/image.blade.php
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

adjust block templates
  web/app/plugins/blocks/resources/views/components/image.blade.php
  web/app/plugins/blocks/resources/views/freedom-paper/block.blade.php
  web/app/plugins/blocks/resources/views/horizontal-card/block.blade.php
  web/app/plugins/blocks/resources/views/post-container/block.blade.php
  web/app/plugins/blocks/resources/views/project-container/block.blade.php
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
  web/app/plugins/blocks/resources/views/two-column/block.blade.php
Labels: plugin, php

fix cards
  web/app/plugins/blocks/resources/views/horizontal-card/block.blade.php
  web/app/plugins/blocks/resources/views/post-container/block.blade.php
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

update squadd block
  web/app/plugins/blocks/resources/views/components/image.blade.php
  web/app/plugins/blocks/resources/views/components/svg/envelope.blade.php
  web/app/plugins/blocks/resources/views/components/svg/facebook.blade.php
  web/app/plugins/blocks/resources/views/components/svg/instagram.blade.php
  web/app/plugins/blocks/resources/views/components/svg/layout.blade.php
  web/app/plugins/blocks/resources/views/components/svg/twitter.blade.php
  web/app/plugins/blocks/resources/views/horizontal-card/block.blade.php
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

update squadd block
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

update squadd block
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
Labels: plugin, php

update squadd block
  web/app/plugins/blocks/resources/views/project-container/block.blade.php
Labels: plugin, php

improved styles: group, embed, aspect ratios, postcss
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/app/colors.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-embed.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-group.scss
  web/app/themes/sage/webpack.mix.js
Labels: theme, css, js, webpack

update manifest.yml
  composer.json
  composer.lock
  web/app/mu-plugins/plugin-manifest/manifest.yml
Labels: project, plugin, dependency, config

update composer lockfiles
  composer.json
  composer.lock
Labels: project, dependency, config

add pdf-viewer block and post ordering plugin
  composer.json
  composer.lock
Labels: project, dependency, config

update orderby params to use page-ordering plugin
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/app/Composers/FreedomPapers.php
  web/app/themes/sage/app/Composers/Projects.php
  web/app/themes/sage/app/setup.php
Labels: theme, php

update block config
  web/app/themes/sage/resources/assets/scripts/editor.js
Labels: theme, js

update freedom papers
  config/tailwind.js
  web/app/plugins/blocks/resources/views/freedom-paper/block.blade.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/views/components/card-plain.blade.php
  web/app/themes/sage/resources/views/components/image.blade.php
  web/app/themes/sage/resources/views/components/overlay.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  yarn.lock
Labels: project, bedrock, theme, plugin, dependency, php, js, config

update build
  .prettierrc
  build/mix/application-paths.js
  build/mix/mix.js
  build/mix/package.json
  build/mix/whitelist.js
  build/tailwind/package.json
  build/tailwind/tailwind.js
  mix.dump.js
  package.json
  web/app/mix-manifest.json
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/config/svg.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/index.js
  web/app/themes/sage/resources/assets/scripts/components/modal.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/assets/scripts/customizer.js
  web/app/themes/sage/resources/views/components/alert.blade.php
  web/app/themes/sage/resources/views/components/overlay.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  webpack.mix.js
  yarn.lock
Labels: project, theme, plugin, dependency, php, js, webpack, config

fix
  build/mix/mix.js
  web/app/mix-manifest.json
  web/app/themes/sage/app/setup.php
Labels: theme, php, js, config

fix
  build/mix/mix.js
Labels: js

fix broked icons
  build/mix/mix.js
  web/app/mix-manifest.json
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/svg/fa/brands/facebook.svg
  web/app/themes/sage/resources/assets/svg/fa/solid/bars-solid.svg
  web/app/themes/sage/resources/assets/svg/fa/solid/times.svg
  webpack.mix.js
Labels: project, theme, php, js, webpack, config

fix bars
  web/app/themes/sage/resources/assets/svg/fa/solid/bars.svg
Labels: theme

update versioning
  build/mix/mix.js
  web/app/mix-manifest.json
  web/app/themes/sage/app/setup.php
Labels: theme, php, js, config

fix cache busting
  build/mix/mix.js
  web/app/themes/sage/app/setup.php
Labels: theme, php, js

.github/labeler.yml:

project:
  - ./*

git:
  - .github/*
  - .github/**/*
  - .git/*
  - .git/**/*

bedrock:
  - ./config/**/*
  - ./config/*

testing:
  - ./tests/*
  - ./tests/**/*

theme:
  - ./**/themes/*
  - ./**/themes/**/*

plugin:
  - ./**/plugins/*
  - ./**/plugins/**/*
  - ./**/mu-plugins/**/*
  - ./**/mu-plugins/**/*

dependency:
  - composer.json
  - package.json
  - ./**/package.json
  - ./**/yarn.lock

documentation:
  - ./*.md
  - ./**/*.md
  - ./**/LICENSE
  - ./**/README

php:
  - ./**/*.php

css:
  - ./**/*.scss
  - ./**/*.css

js:
  - ./**/*.js
  - ./**/*.jsx

webpack:
  - ./**/*webpack*
  - ./**/webpack*
  - ./**/webpack/*
  - ./**/webpack/**/*

config:
  - ./**/config/*
  - ./**/config/**/*
  - ./**/*.json
