Repository pixelcollective/dreamdefenders.org, changes with the labels that .github/labeler.yml gives for each.
All labels: project, git, bedrock, testing, theme, plugin, dependency, documentation, php, css, js, webpack, config

.github/labeler.yml:

project:
  - ./*

git:
  - .github/*
  - .github/**/*
  - .git/*
  - .git/**/*

bedrock:
  - ./config/**/*
  - ./config/*

testing:
  - ./tests/*
  - ./tests/**/*

theme:
  - ./**/themes/*
  - ./**/themes/**/*

plugin:
  - ./**/plugins/*
  - ./**/plugins/**/*
  - ./**/mu-plugins/**/*
  - ./**/mu-plugins/**/*

dependency:
  - composer.json
  - package.json
  - ./**/package.json
  - ./**/yarn.lock

documentation:
  - ./*.md
  - ./**/*.md
  - ./**/LICENSE
  - ./**/README

php:
  - ./**/*.php

css:
  - ./**/*.scss
  - ./**/*.css

js:
  - ./**/*.js
  - ./**/*.jsx

webpack:
  - ./**/*webpack*
  - ./**/webpack*
  - ./**/webpack/*
  - ./**/webpack/**/*

config:
  - ./**/config/*
  - ./**/config/**/*
  - ./**/*.json

add background-flowing.jpg asset
  web/app/themes/sage/resources/assets/images/background-flowing.jpg
  web/app/themes/sage/resources/assets/images/background-flowing@2x.jpg
  web/app/themes/sage/resources/views/partials/footer.blade.php
Labels: theme, php

add brand gray to tailwind config
  config/tailwind.config.js
Labels: bedrock, js, config

miles of styles
  web/app/plugins/blocks/resources/assets/scripts/blocks/TwoColumn/block.js
  web/app/plugins/blocks/resources/views/two-column/block.blade.php
  web/app/plugins/blocks/resources/views/twocolumn/block.blade.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/svg/logo-black.svg
  web/app/themes/sage/resources/assets/svg/logo-solid.svg
  web/app/themes/sage/resources/assets/svg/logo.svg
  web/app/themes/sage/resources/views/forms/dream-together.blade.php
  web/app/themes/sage/resources/views/front-page.blade.php
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, plugin, php, js

[ImgBot] Optimize images
  web/app/themes/sage/resources/assets/images/background-flowing.jpg
  web/app/themes/sage/resources/assets/images/background-flowing@2x.jpg
  web/app/themes/sage/resources/assets/svg/logo-solid.svg
  web/app/themes/sage/resources/assets/svg/menu.svg
  web/app/themes/sage/resources/assets/svg/organize.svg
  web/app/themes/sage/resources/assets/svg/waves-triple.svg
Labels: theme

alignments, based hacknug
  config/package.json
  config/tailwind.config.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/PostContainer/components/edit.js
  web/app/themes/sage/resources/assets/svg/fa/brands/instagram.svg
  web/app/themes/sage/resources/views/forms/dream-together.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/navigation-overlay.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  yarn.lock
Labels: project, bedrock, theme, plugin, dependency, php, js, config

anime bae
  config/tailwind.config.js
  config/tailwind.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/partials/header.blade.php
  web/app/themes/sage/resources/views/partials/navigation-overlay.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: bedrock, theme, php, js, config

intersection observer for life
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/fadeObserver.js
  web/app/themes/sage/resources/assets/scripts/components/index.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/assets/scripts/components/organize.js
  web/app/themes/sage/resources/assets/scripts/components/twoPathsObserver.js
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
Labels: theme, php, js

hoverFx
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/hoverFx.js
  web/app/themes/sage/resources/assets/scripts/components/index.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, js

hoverFx again
  web/app/themes/sage/resources/assets/scripts/components/hoverFx.js
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/navigation-overlay.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, js

hoverFx
  web/app/themes/sage/resources/assets/scripts/components/hoverFx.js
  web/app/themes/sage/resources/assets/scripts/components/hoverfx/README.md
  web/app/themes/sage/resources/assets/scripts/components/hoverfx/index.js
  web/app/themes/sage/resources/assets/scripts/components/hoverfx/package.json
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/navigation-overlay.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, dependency, documentation, php, js, config

pkg hoverfx
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/hoverfx/README.md
  web/app/themes/sage/resources/assets/scripts/components/hoverfx/index.js
  web/app/themes/sage/resources/assets/scripts/components/hoverfx/package.json
  web/app/themes/sage/resources/assets/scripts/components/index.js
  yarn.lock
Labels: project, theme, dependency, documentation, js, config

navigation polish
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/partials/navigation-overlay.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, js

blockstyles
  composer.lock
  config/tailwind.config.js
  package.json
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/Squadd/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Squadd/components/edit.js
  web/app/plugins/blocks/resources/views/squadd/block.blade.php
  web/app/plugins/blocks/src/Squadd.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/assets/styles/app/align.scss
  web/app/themes/sage/resources/assets/styles/app/lists.scss
  web/app/themes/sage/resources/assets/styles/app/typography.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-heading.scss
  web/app/themes/sage/resources/assets/styles/blocks/core-pullquote.scss
  web/app/themes/sage/resources/assets/styles/editor.scss
  web/app/themes/sage/webpack.mix.js
  yarn.lock
Labels: project, bedrock, theme, plugin, dependency, php, css, js, webpack, config

Adds instagram duct-tape label
  web/app/themes/sage/resources/assets/images/duct-tape.png
  web/app/themes/sage/resources/assets/images/duct-tape@2x.png
  web/app/themes/sage/resources/views/components/instagram.blade.php
Labels: theme, php

Freedom Papers and block templates
  web/app/plugins/blocks/composer.json
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/FreedomPaper/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/FreedomPaper/components/edit.js
  web/app/plugins/blocks/resources/assets/svg/download-volume.svg
  web/app/plugins/blocks/resources/views/freedom-paper/block.blade.php
  web/app/plugins/blocks/src/FreedomPaper.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/svg/Path 1995.svg
  web/app/themes/sage/resources/assets/svg/arrow-left.svg
  web/app/themes/sage/resources/assets/svg/arrow-right.svg
  web/app/themes/sage/resources/assets/svg/download-volume.svg
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/webpack.mix.js
Labels: theme, plugin, php, js, webpack, config

squadd up, freedom papers teaser
  web/app/themes/sage/resources/assets/images/freedom-papers-art.png
  web/app/themes/sage/resources/assets/images/freedom-papers-art@2x.png
  web/app/themes/sage/resources/assets/svg/waves-triple.svg
  web/app/themes/sage/resources/views/front-page.blade.php
  web/app/themes/sage/resources/views/partials/front/freedom-papers-teaser.blade.php
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

add container, project-container blocks. set base templates
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/Container/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Container/components/edit.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/ProjectContainer/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/ProjectContainer/components/edit.js
  web/app/plugins/blocks/resources/views/container/block.blade.php
  web/app/plugins/blocks/resources/views/project-container/block.blade.php
  web/app/plugins/blocks/src/Container.php
  web/app/plugins/blocks/src/ProjectContainer.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/editor.js
Labels: theme, plugin, php, js, webpack

update single post template
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/styles/app/align.scss
  web/app/themes/sage/resources/views/partials/content-single.blade.php
Labels: theme, php, css

add projects archive
  web/app/themes/sage/resources/views/archive-projects.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/header-archive.blade.php
  web/app/themes/sage/resources/views/partials/header-page.blade.php
  web/app/themes/sage/resources/views/search.blade.php
Labels: theme, php

conditionally load the hide-title-block extension script
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/PostContainer/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/ProjectContainer/block.js
  web/app/plugins/blocks/resources/assets/scripts/extensions/hide-title-block.js
  web/app/plugins/blocks/webpack.mix.js
Labels: plugin, php, js, webpack

add additional projects beneath single project template main
  web/app/plugins/blocks/index.php
  web/app/themes/sage/app/Composers/Projects.php
  web/app/themes/sage/app/filters.php
  web/app/themes/sage/resources/views/archive-projects.blade.php
  web/app/themes/sage/resources/views/components/simple-card.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
Labels: theme, plugin, php

add additional freedom papers beneath single template main
  web/app/themes/sage/app/Composers/FreedomPapers.php
  web/app/themes/sage/resources/views/archive.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
Labels: theme, php

archival templating
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/ProjectContainer/components/edit.js
  web/app/plugins/blocks/resources/views/freedom-paper/block.blade.php
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/app/Composers/Archive.php
  web/app/themes/sage/app/Composers/BaseComposer.php
  web/app/themes/sage/app/Composers/FreedomPapers.php
  web/app/themes/sage/app/Composers/Projects.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/views/archive.blade.php
  web/app/themes/sage/resources/views/components/card-fancy.blade.php
  web/app/themes/sage/resources/views/components/simple-card.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/archive-projects.blade.php
  web/app/themes/sage/resources/views/partials/comments.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/header-archive.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, plugin, php, js

404
  web/app/themes/sage/resources/views/404.blade.php
  web/app/themes/sage/resources/views/forms/search.blade.php
  web/app/themes/sage/resources/views/index.blade.php
  web/app/themes/sage/resources/views/page.blade.php
Labels: theme, php

add page banner block
  config/tailwind.js
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/panels/BackgroundPanel.js
  web/app/plugins/blocks/resources/views/banner/block.blade.php
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/styles/app/align.scss
  web/app/themes/sage/resources/assets/styles/editor.scss
  web/app/themes/sage/resources/views/layouts/app.blade.php
  web/app/themes/sage/resources/views/page.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: bedrock, theme, plugin, php, css, js, webpack, config

tons of banner block options
  .prettierrc
  web/app/plugins/blocks/package.json
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/panels/BackgroundPanel.js
  web/app/plugins/blocks/resources/assets/styles/block-styles/banner.scss
  web/app/plugins/blocks/resources/assets/styles/blocks/post-container.scss
  web/app/plugins/blocks/resources/assets/styles/common.scss
  web/app/plugins/blocks/resources/assets/styles/editor.scss
  web/app/plugins/blocks/resources/assets/styles/public.scss
  web/app/plugins/blocks/resources/views/banner/block.blade.php
  web/app/plugins/blocks/resources/views/banner/waves-triple.blade.php
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/webpack.mix.js
  yarn.lock
Labels: project, theme, plugin, dependency, php, css, js, webpack, config

homepage anime
  web/app/themes/sage/resources/assets/images/we-rise-bg.jpg
  web/app/themes/sage/resources/assets/images/we-rise-bg@2x.jpg
  web/app/themes/sage/resources/assets/scripts/components/twoPathsObserver.js
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
Labels: theme, php, js

fix for non front page scripts
  web/app/themes/sage/resources/assets/scripts/app.js
Labels: theme, js

update svg fonts
  web/app/themes/sage/app/filters.php
  web/app/themes/sage/resources/assets/scripts/components/twoPathsObserver.js
  web/app/themes/sage/resources/assets/svg/organize.svg
Labels: theme, php, js

small adjustment
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
Labels: theme, php

load roboto condensed from gfonts
  web/app/themes/sage/resources/assets/styles/app/fonts.scss
Labels: theme, css

update composers/app
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/resources/assets/styles/app.scss
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, plugin, php, css, js

style fixes & horizontal card block
  config/tailwind.js
  web/app/plugins/blocks/config/views.php
  web/app/plugins/blocks/index.php
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/HorizontalCard/block.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/HorizontalCard/components/edit.js
  web/app/plugins/blocks/resources/views/banner/block.blade.php
  web/app/plugins/blocks/resources/views/horizontal-card/block.blade.php
  web/app/plugins/blocks/src/Banner.php
  web/app/plugins/blocks/src/Container.php
  web/app/plugins/blocks/src/FreedomPaper.php
  web/app/plugins/blocks/src/HorizontalCard.php
  web/app/plugins/blocks/src/PostContainer.php
  web/app/plugins/blocks/src/ProjectContainer.php
  web/app/plugins/blocks/src/Squadd.php
  web/app/plugins/blocks/src/TwoColumn.php
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/images/select-a-volume.jpg
  web/app/themes/sage/resources/assets/images/select-a-volume@2x.jpg
  web/app/themes/sage/resources/assets/scripts/editor.js
  web/app/themes/sage/resources/assets/styles/app/spacing.scss
  web/app/themes/sage/resources/views/forms/dream-together.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
Labels: bedrock, theme, plugin, php, css, js, webpack, config

templating
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/edit.js
  web/app/plugins/blocks/resources/assets/scripts/blocks/Banner/components/panels/BackgroundPanel.js
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/app/Composers/FreedomPapers.php
  web/app/themes/sage/app/Composers/Post.php
  web/app/themes/sage/app/filters.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/resources/assets/images/background-dark-noisy@2x.png
  web/app/themes/sage/resources/assets/images/background-flowing@2x.jpg
  web/app/themes/sage/resources/assets/images/banner-messaging-medium.png
  web/app/themes/sage/resources/assets/images/banner-messaging-small.png
  web/app/themes/sage/resources/assets/images/duct-tape@2x.png
  web/app/themes/sage/resources/assets/images/freedom-papers-art@2x.png
  web/app/themes/sage/resources/assets/images/freedom-papers.jpg
  web/app/themes/sage/resources/assets/images/select-a-volume@2x.jpg
  web/app/themes/sage/resources/assets/images/squadd-image-1.jpg
  web/app/themes/sage/resources/assets/images/squadd-image-2.jpg
  web/app/themes/sage/resources/assets/images/squadd-image-3.jpg
  web/app/themes/sage/resources/assets/images/squadd-image-4.jpg
  web/app/themes/sage/resources/assets/images/squadd-image-5.jpg
  web/app/themes/sage/resources/assets/images/we-rise-bg@2x.jpg
  web/app/themes/sage/resources/views/archive.blade.php
  web/app/themes/sage/resources/views/index.blade.php
  web/app/themes/sage/resources/views/partials/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/archive.blade.php
  web/app/themes/sage/resources/views/partials/content-single-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/content-single-projects.blade.php
  web/app/themes/sage/resources/views/partials/content.blade.php
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
  web/app/themes/sage/resources/views/partials/header-archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/header-archive.blade.php
  web/app/themes/sage/resources/views/partials/header.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  web/app/themes/sage/resources/views/single.blade.php
Labels: theme, plugin, php, js, webpack

templating fixes
  web/app/themes/sage/resources/views/partials/content-page.blade.php
  web/app/themes/sage/resources/views/partials/content-single.blade.php
  web/app/themes/sage/resources/views/single.blade.php
Labels: theme, php

admin ui
  web/app/themes/sage/app/Admin/UI.php
  web/app/themes/sage/app/Providers/ThemeServiceProvider.php
Labels: theme, php

add navi menus
  web/app/themes/sage/app/Admin/UI.php
  web/app/themes/sage/app/Composers/App.php
  web/app/themes/sage/app/admin.php
  web/app/themes/sage/app/setup.php
  web/app/themes/sage/composer.json
  web/app/themes/sage/composer.lock
  web/app/themes/sage/resources/views/partials/footer.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, config

fix banner block overrides
  web/app/plugins/blocks/resources/views/banner/block.blade.php
Labels: plugin, php

update build
  web/app/plugins/blocks/webpack.mix.js
  web/app/themes/sage/webpack.mix.js
Labels: theme, plugin, js, webpack

overlay
  web/app/themes/sage/resources/assets/images/305-miami.png
  web/app/themes/sage/resources/assets/images/305-miami@2x.png
  web/app/themes/sage/resources/assets/images/350-miami.png
  web/app/themes/sage/resources/assets/images/350-miami@2x.png
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/scripts/components/index.js
  web/app/themes/sage/resources/assets/scripts/components/modal.js
  web/app/themes/sage/resources/assets/scripts/components/nav.js
  web/app/themes/sage/resources/views/components/overlay.blade.php
  web/app/themes/sage/resources/views/front-page.blade.php
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php, js
