Repository pixelcollective/dreamdefenders.org, changes with the labels that .github/labeler.yml gives for each.
All labels: project, git, bedrock, testing, theme, plugin, dependency, documentation, php, css, js, webpack, config

:thinking:
  .circleci/config.yml
Labels: none

trying
  .circleci/config.yml
Labels: none

trying
  .circleci/config.yml
Labels: none

add support for freedom papers intro content
  composer.json
  composer.lock
  web/app/advanced-cache.php
  web/app/themes/sage/app/View/Composers/ArchiveFreedomPapers.php
  web/app/themes/sage/resources/views/archive-freedom-papers.blade.php
  web/app/themes/sage/resources/views/partials/front/two-paths.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
  web/wp-config.php
Labels: project, theme, dependency, php, config

remove wp rocket config
  web/app/wp-rocket-config/dreamdefenders.vagrant.php
Labels: php

circleci update
  .circleci/config.yml
Labels: none

[fix] navigation
  web/app/themes/sage/resources/views/components/card-fancy.blade.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: theme, php

modal
  build/mix/package.json
  build/mix/webpack.mix.js
  composer.json
  composer.lock
  web/app/themes/sage/app/View/Components/Modal.php
  web/app/themes/sage/package.json
  web/app/themes/sage/resources/assets/scripts/app.js
  web/app/themes/sage/resources/assets/styles/app/fonts.scss
  web/app/themes/sage/resources/views/components/modal.blade.php
  web/app/themes/sage/resources/views/layouts/app.blade.php
  yarn.lock
Labels: project, theme, dependency, php, css, js, webpack, config

update circleci config
  .circleci/config.yml
Labels: none

sure now underscores are dashes. of course
  .circleci/config.yml
Labels: none

meet requirements
  .circleci/config.yml
Labels: none

meet requirements
  .circleci/config.yml
Labels: none

meet requirements
  .circleci/config.yml
Labels: none

circleci
  .circleci/config.yml
  config/application.php
  web/app/themes/sage/webpack.mix.js
Labels: bedrock, theme, php, js, webpack, config

rollback dotenv to 4.1. update modal
  composer.json
  composer.lock
  web/app/themes/sage/app/View/Components/Modal.php
  web/app/themes/sage/resources/views/layouts/app.blade.php
Labels: project, theme, dependency, php, config

Addresses 189
  .circleci/config.yml
  composer.lock
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/themes/sage/resources/views/partials/front/organize.blade.php
  web/app/themes/sage/resources/views/partials/front/squadd-up.blade.php
Labels: project, theme, plugin, php

update circleci
  .circleci/config.yml
Labels: none

add babel-preset-default
  web/app/themes/sage/package.json
  web/app/themes/sage/yarn.lock
Labels: theme, dependency, config

remove packagelock
  web/app/plugins/dream-defenders-blocks/package-lock.json
Labels: plugin, config

update node version for theme
  .circleci/config.yml
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/c57b863bb09d08246d1a3aaef0500e13.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/0.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/3.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/4.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/9.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/index.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/index.pack.old
  web/app/themes/sage/package.json
Labels: theme, plugin, dependency, config

circleci: update node executor
  .circleci/config.yml
Labels: none

[ImgBot] Optimize images
  web/app/mu-plugins/tinypixel-branding/assets/images/logo-icon.svg
  web/app/plugins/dream-defenders-blocks/resources/assets/svg/download-volume.svg
  web/app/plugins/dream-defenders-blocks/resources/assets/svg/logo.svg
  web/app/themes/sage/resources/images/305-miami.png
  web/app/themes/sage/resources/images/banner-messaging-medium.png
  web/app/themes/sage/resources/images/banner-messaging-small.png
  web/app/themes/sage/resources/images/banner-messaging.png
  web/app/themes/sage/resources/images/duct-tape.png
  web/app/themes/sage/resources/images/freedom-papers-art.png
  web/app/themes/sage/resources/images/icons-192.png
  web/app/themes/sage/resources/images/icons-512.png
  web/app/themes/sage/resources/images/ndn-logo-full-color.svg
  web/app/themes/sage/resources/images/squadd-1.png
  web/app/themes/sage/resources/images/squadd-2.png
  web/app/themes/sage/resources/images/squadd-3.png
  web/app/themes/sage/resources/images/squadd-4.png
  web/app/themes/sage/resources/images/squadd-5.png
  web/app/themes/sage/resources/images/squadd-image-5.jpg
  web/app/themes/sage/resources/images/waves-left.png
  web/app/themes/sage/resources/images/waves-right.png
  web/app/themes/sage/resources/images/we-rise-bg.jpg
  web/app/themes/sage/resources/images/world-we-are-fighting-for.png
  web/app/themes/sage/resources/svg/arrow-left.svg
  web/app/themes/sage/resources/svg/arrow-right.svg
  web/app/themes/sage/resources/svg/download-volume.svg
  web/app/themes/sage/resources/svg/fa/solid/bars.svg
  web/app/themes/sage/resources/svg/fa/solid/times.svg
  web/app/themes/sage/resources/svg/waves-triple.svg
Labels: theme, plugin

fix: heading sizes
  composer.lock
  web/app/themes/sage/resources/styles/app.scss
  web/app/themes/sage/resources/styles/app/align.scss
  web/app/themes/sage/resources/styles/app/colors.scss
  web/app/themes/sage/resources/styles/app/fonts.scss
  web/app/themes/sage/resources/styles/app/keyframes.scss
  web/app/themes/sage/resources/styles/app/lists.scss
  web/app/themes/sage/resources/styles/app/performant-media.scss
  web/app/themes/sage/resources/styles/app/spacing.scss
  web/app/themes/sage/resources/styles/app/typography.scss
  web/app/themes/sage/resources/styles/blocks/core-heading.scss
  web/app/themes/sage/tailwind.config.js
  web/app/themes/sage/webpack.mix.js
  yarn.lock
Labels: project, theme, dependency, css, js, webpack

fix: spacing
  web/app/plugins/dream-defenders-blocks/resources/views/squadd/block.blade.php
  web/app/themes/sage/tailwind.config.js
Labels: theme, plugin, php, js

mergefix
  web/app/plugins/dream-defenders-blocks/yarn.lock
Labels: plugin, dependency

[cleanup] js style
  web/app/plugins/dream-defenders-blocks/index.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/EveryAction/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/EveryAction/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/EveryAction/components/save.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Form/components/panels/text-columns.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/FreedomPaper/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/FreedomPaper/components/download-this-volume.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/GalleryCTA/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/GalleryCTA/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/GalleryCTA/components/image-upload.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/HorizontalCard/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/HorizontalCard/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/OrganizeCTA/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/OrganizeCTA/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/PostContainer/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/PostContainer/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/ProjectContainer/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/ProjectContainer/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Squadd/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/Squadd/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/TwoColumn/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/TwoColumn/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/disable-block-types.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/disable-nux-tour.js
  web/app/plugins/dream-defenders-blocks/resources/assets/svg/logo.svg
  web/app/themes/sage/tailwind.config.js
Labels: theme, plugin, php, js

update composer deps
  composer.lock
  web/app/plugins/dream-defenders-blocks/composer.json
  web/app/plugins/dream-defenders-blocks/composer.lock
  web/app/themes/sage/config/app.php
Labels: project, theme, plugin, php, config

[dependencies] update tinypixel/blocks to 1.0.2
  web/app/plugins/dream-defenders-blocks/composer.json
  web/app/plugins/dream-defenders-blocks/composer.lock
Labels: plugin, config

update
  config/application.php
  web/app/themes/sage/resources/views/partials/navigation.blade.php
Labels: bedrock, theme, php, config

[fix] php block rendering error
  .gitignore
  config/application.php
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/FreedomPaper/block.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/blocks/FreedomPaper/components/edit.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/editor.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/extensions/register-styles.js
  web/app/plugins/dream-defenders-blocks/resources/assets/scripts/hooks/usePost.js
  web/app/plugins/dream-defenders-blocks/resources/views/freedom-paper/block.blade.php
  web/app/themes/sage/config/app.php
Labels: project, bedrock, theme, plugin, php, js, config

[improve] front page template
  web/app/plugins/dream-defenders-modal/block.php
  web/app/plugins/dream-defenders-modal/dist/editor.asset.json
  web/app/plugins/dream-defenders-modal/dist/editor.css
  web/app/plugins/dream-defenders-modal/dist/editor.js
  web/app/plugins/dream-defenders-modal/dist/public.css
  web/app/plugins/dream-defenders-modal/resources/assets/scripts/editor/containers/edit.js
  web/app/plugins/dream-defenders-modal/resources/assets/scripts/editor/containers/save.js
  web/app/themes/sage/resources/views/home.blade.php
Labels: theme, plugin, php, css, js, config

fix: lightbox window bs
  composer.lock
  package.json
  web/app/plugins/dream-defenders-blocks/composer.lock
  web/app/plugins/dream-defenders-blocks/package.json
  web/app/plugins/dream-defenders-modal/dist/editor.asset.json
  web/app/plugins/dream-defenders-modal/dist/editor.css
  web/app/plugins/dream-defenders-modal/dist/editor.js
  web/app/plugins/dream-defenders-modal/dist/public.asset.json
  web/app/plugins/dream-defenders-modal/dist/public.css
  web/app/plugins/dream-defenders-modal/dist/public.js
  web/app/plugins/dream-defenders-modal/package.json
  web/app/plugins/dream-defenders-modal/resources/assets/scripts/public/Modal.js
  web/app/plugins/dream-defenders-modal/resources/assets/styles/public.css
  web/app/plugins/dream-defenders-modal/tailwind.config.js
  web/app/themes/sage/composer.lock
  web/app/themes/sage/echo
  web/app/themes/sage/package.json
  web/app/themes/sage/print
  web/app/themes/sage/resources/views/partials/navigation.blade.php
  yarn.lock
Labels: project, theme, plugin, dependency, php, css, js, config

fix bud
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/04a772f96aac6f30ccfc1cd63a896859.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/1f837cc43474c2470b14700fbc20bc94.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/44303eac0b178a6c8328afac4ad92249.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/66feaccd2e97037425202dbdf07f0e19.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/7d2617040b364e723a65f6d778787ee9.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/7fdfcb5cbea89984bc86e7ff329db4a4.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/cc6d97b0f91fcfe68d2c448650ff5411.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/f0c03814461c725120eea2e86de73705.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/f81fd63f005cb954c1242c0151da9105.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/babel/ff5a7c63bd82c5f0da603e096c3b88c0.json.gz
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/0.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/1.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/2.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/3.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/4.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/5.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/8.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/index.pack
  web/app/plugins/dream-defenders-blocks/.budfiles/bud-production-/index.pack.old
  web/app/plugins/dream-defenders-blocks/.budfiles/records.json
  web/app/plugins/dream-defenders-blocks/package.json
  yarn.lock
Labels: project, plugin, dependency, config

fix modal scroll and dimensions
  web/app/plugins/dream-defenders-blocks/package.json
  web/app/plugins/dream-defenders-modal/dist/editor.css
  web/app/plugins/dream-defenders-modal/dist/public.asset.json
  web/app/plugins/dream-defenders-modal/dist/public.css
  web/app/plugins/dream-defenders-modal/dist/public.js
  web/app/plugins/dream-defenders-modal/resources/assets/scripts/editor/components/Overlay.js
  web/app/plugins/dream-defenders-modal/resources/assets/scripts/public/Modal.js
  web/app/plugins/dream-defenders-modal/resources/assets/styles/public.css
Labels: plugin, dependency, css, js, config

.github/labeler.yml:

project:
  - ./*

git:
  - .github/*
  - .github/**/*
  - .git/*
  - .git/**/*

bedrock:
  - ./config/**/*
  - ./config/*

testing:
  - ./tests/*
  - ./tests/**/*

theme:
  - ./**/themes/*
  - ./**/themes/**/*

plugin:
  - ./**/plugins/*
  - ./**/plugins/**/*
  - ./**/mu-plugins/**/*
  - ./**/mu-plugins/**/*

dependency:
  - composer.json
  - package.json
  - ./**/package.json
  - ./**/yarn.lock

documentation:
  - ./*.md
  - ./**/*.md
  - ./**/LICENSE
  - ./**/README

php:
  - ./**/*.php

css:
  - ./**/*.scss
  - ./**/*.css

js:
  - ./**/*.js
  - ./**/*.jsx

webpack:
  - ./**/*webpack*
  - ./**/webpack*
  - ./**/webpack/*
  - ./**/webpack/**/*

config:
  - ./**/config/*
  - ./**/config/**/*
  - ./**/*.json
